.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.vehicle-container {
  flex: 1;
  overflow-y: scroll;
  height: 100vh;
}

.map-container {
  flex: 2;
  height: 100vh;
}

.loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

select {
  background-color: #62b5fa;
  border-radius: 5px;
  color: white;
  padding: 8px;
  width: 10em;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  margin: 10px;
}

.select-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
